    <div class="login min-h-screen py-12 flex items-center justify-center">
        <div class="h-full md:h-auto mx-auto">
            <div class="form p-4 mb-5 bg-white shadow-lg border border-gray-300 rounded-lg min-w-[380px]">
                <p class="text-center font-bold text-2xl pb-5">Sign In</p>
                    <% if(flash && flash.error.length > 0){ %>
                        <div class="flex p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
                            <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                            <div>
                            <span class="font-medium"><%= flash.error %></span>
                            </div>
                        </div>
                    <% } %>
                    <form action="/create-session" method="POST" id="loginForm">
                        <div class="form-group mb-4">
                            <input type="text" placeholder="Email address" class="text-lg border border-gray-200 focus:outline-none focus:border-blue-500 block p-3 rounded w-full" name="email" value="">
                        </div>
                        <div class="form-group mb-4">
                            <input type="password" placeholder="Password" class="text-lg border border-gray-200 p-3 focus:outline-none block focus:border-blue-500 rounded w-full" name="password" value="">
                        </div>
                        <div class="form-group mb-4">
                            <button class="w-full rounded p-3 bg-blue-500 text-white text-xl font-bold" type="submit">Log In</button>
                        </div>
                    </form>
                    <p class="text-center my-5">
                        <a href="/forgot-password" class="text-blue-500 font-bold text-sm mr-4">Forgotten password?</a>
                        <a href="/signup" class="text-blue-500 font-bold text-sm">Sign Up</a>
                    </p>
                    <p class="text-center my-5 text-sm text-gray-500">
                        Or Sign In with
                        <a href="/auth/google" class="text-center mt-5 block" title="Google Login">
                            <img src="/images/google-signin.png" alt="google signin" class="mx-auto max-w-[200px]">
                        </a>
                    </p>                   
                </div>
        </div>
    </div>
    
